.about{
	 background-color:white;
	 margin:0;
	 height:auto;
	 text-align: left;
	 padding:3%;
}

.writing{
	display:inline-block;
	width:55%;
   direction: ltr;
   font-size: 26px;
   font-weight: lighter;
   font-family:Montserrat;
}

.photo{
	display:inline-block;
    width:40%;
}

.photo img{
	width:100%;
	object-cover:cover;
}

@media(max-width:900px)
{ 
	.writing , .photo{
		width:90%;
		margin:auto;
		display:block;

	}


	
}