
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;

}


header{
	display:inline-block;
	width:100%;
	padding:20px 60px;
	background-color:#373737;
	position: relative;
}

.logo{
	float:left;
	color:red;
}
.logo img{
  width:160px;
  height:50px;
  margin-top:8px;
  padding-left:10px;
  object-fit: cover;
}

nav{
	float: right;
}
nav ul li{
	display: inline-block;
	padding:15px 25px;
}

nav ul li a{
	text-decoration:none;
	display:inline-block;
	color:#fff;
	text-align: center;
	font-size: 27px;
	font-weight:bold;
}

nav ul li a:hover {
  color: pink;
}

.toggle-btn{
	width:55px;
	position: absolute;
	right:60px;
	top:29px;
	display:none;
	cursor:pointer;
}

.toggle-btn span{

display: inline-block;
width:80%;
height:8px;
background-color:#CCCCCC;
float:left;
margin-bottom:10px;
}

@media(max-width:991px){
	.toggle-btn{
		display:block;
	}
	nav{
		display:none;
		width:100%;
		border-top:2px solid white;
		padding-top:20px;
		padding-left:10px;
		margin-top:30px;
	}

	nav ul li{
		padding:15px 0px;
		width:100%;
	}

	nav.show{
		display:block;
	}
}
