
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height:auto;
  margin-top:40px;
}
       

.card img{
  height:220px;
  width:200px;
  object-fit: cover;
  -webkit-transform:scale(0.9,0.9);
  transform :(0.9,0.9);
  -webkit-transition:all 1s ease;
  transition: all 1s ease;
}

.card img:hover{
  -webkit-transform:scale(1,1);
  transform: scale(1,1);
}

@media(max-width: 750px){
  .card img{
    width:90%;
    margin-left:8%;
    margin-right:8%;
    height:370px;
  }
}